<footer class="bd-footer py-4 py-md-5 mt-5 bg-body-tertiary">
  <div class="container py-4 py-md-5 px-4 px-md-3 text-body-secondary">
    <div class="row">
      <div class="col-lg-3 mb-3">
        <ul class="list-unstyled small">
          <li class="mb-2">
            lorem ispum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.

          </li>
        </ul>
      </div>
      <div class="col-6 col-lg-2 offset-lg-1 mb-3">
        <h5>Links</h5>
        <ul class="list-unstyled">
          <li class="mb-2"><%= link_to "Home", root_path %></li>   
          <li class="mb-2"><%= link_to "About", about_path %></li>
          <li class="mb-2"><%= link_to "FAQ", faq_path %></li>
        </ul>
      </div>
      <div class="col-6 col-lg-2 mb-3">
        <h5>Guides</h5>
        <ul class="list-unstyled">
          <li class="mb-2"><%= link_to "Guides", "https://guides.rubyonrails.org/" %></li>
        </ul>
      </div>
      <div class="col-6 col-lg-2 mb-3">
        <h5>Projects</h5>
        <ul class="list-unstyled">
          <li class="mb-2"><%= link_to "New Project", "http://127.0.0.1:3000/products" %></li>
        </ul>
      </div>
      <div class="col-6 col-lg-2 mb-3">
        <h5>Community</h5>
        <ul class="list-unstyled">
          <li class="mb-2"><%= link_to "Developer support", root_path %></li>
          <li class="mb-2"><%= link_to "Contact support", root_path %></li>
          <li class="mb-2"><%= link_to "Stack Overflow", root_path %></li>
        </ul>
      </div>
    </div>
  </div>
</footer>