
<header class="p-3 text-bg-dark">
    <div class="container">
      <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">

        <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
          
            <%= link_to "Home", root_path, class: "nav-link px-2 text-secondary"%>
          
            <%= link_to "Cart", carts_path, class: "nav-link px-2 text-secondary" %>
          
            <%= link_to "Sell Product", products_path, class: "nav-link px-2 text-secondary" %>
          
            <%= link_to "About", about_path, class: "nav-link px-2 text-secondary" %>
          
            <%= link_to "FAQ", faq_path, class: "nav-link px-2 text-secondary" %>

            <%= link_to "Transaction History", transactions_path, class: "nav-link px-2 text-secondary" %>

            <!-- <%= link_to "Sell Products", selling_path, class: "nav-link px-2 text-secondary" %> -->
        </ul>

       
          <input type="search" class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3" placeholder="Search..." id="myInput" onkeyup="myFunction()" aria-label="Search">
        

        <div class="d-flex justify-content-end">
          <%# <button type="button" class="btn btn-outline-light me-2">Login</button> %>
          <%# <button type="button" class="btn btn-warning">Sign-up</button> %>
          <!-- <%= link_to "Profile", profiles_path, class: "btn btn-outline-light me-2" %> -->
          <% unless customerinfo_signed_in? %>
          <%= link_to "Sign-in", new_customerinfo_session_path, class: "btn btn-outline-light me-2" %>
          <%= link_to "Sign-up", new_customerinfo_registration_path, class: "btn btn-warning" %>
          <% else %>
          <%= link_to "Edit-profile", edit_customerinfo_registration_path, class: "btn btn-outline-light me-2" %>
          <%= button_to "Sign-out", destroy_customerinfo_session_path, method: :delete, class: "btn btn-warning"%>
          <% end %>
        </div>
      </div>
    </div>
  </header>

  <script>
    
    document.getElementById('myInput').addEventListener('keyup', myFunction);
    async function myFunction() {
      if(event.key == "Enter" || event.keyCode == 13) {
        // for showing search results when the enter key is pressed.
        let searchText = document.getElementById('text-1');
        let searchText2 = document.getElementById('text-2');
        let userInput = document.getElementById('myInput').value; 
        if(userInput == "") {
          searchText2.innerHTML = "Please enter a valid search query";
          return;
        }
        searchText.innerHTML = `Search Results for ${userInput}`;
        console.log(userInput.toUpperCase());
        // for authentication
        let requestBody = {
            "grant_type": "password",
            "email": "hello@example.com",
            "password": "password",
            "client_id": "63h4FRw0Rbs69nI6Gqy2pq8KD7QBUoO9PB1xSCja3oY",
            "client_secret": "IwT4UZ_OzSc_Ijxt-gs23Nlc-ckFpFdCrtJBdVYhBrw"
        }

        let accessToken = await fetch("http://localhost:3000/oauth/token", {
            method: "POST",
            headers: {
                "Content-Type": "application/json"
            },
            body: JSON.stringify(requestBody)
        }).then(response => response.json()).then(data => {
            console.log(data);
            return data.access_token;
        });

        // for fetching products
        let products = await fetch("http://localhost:3000/api/v1/products", 
          {
            method: "GET",
            headers: {
              "Authorization": `Bearer ${accessToken}`
            }
          }).then(response => response.json()).then(data => {
          console.log(data);
          let result = data.filter(product => (product.name.toUpperCase().includes(userInput.toUpperCase()) || product.description.toUpperCase().includes(userInput.toUpperCase()) || product.brand.toUpperCase().includes(userInput.toUpperCase()) || product.price.toUpperCase().includes(userInput.toUpperCase()) ));
          console.log(result);
          if (result.length == 0) {   
            searchText2.innerHTML = "No products found";
          } else {
          searchText2.innerHTML = "Here are the products that match your search";
          }
          let wrapper = document.querySelector('.row');
          wrapper.innerHTML = result.map((product, index) => {
            return `<div class="col-md-3 mb-4">
                      <button class="container" onclick="fun(${product.id})">
                          <h5 class="card-title">${product.name}</h5>
                          <img src="https://picsum.photos/130/170?random=${index+1}" class="card-img-top" alt="no image available">
                          <p class="card-text">Price: ${product.price}</p>
                      </button>
                    </div>`;
          }).join('');
        });    
        }                              
      }

      function fun(ProductId) {
        console.log("clicked", ProductId);
        window.location.href = `http://localhost:3000/products/${ProductId}`;
      }
  </script>

  <body>

</body>